<h2>Gerenciamento de Usuarios</h2>

<button mat-fab class="fabAdd" (click)="create()">
  <mat-icon>add</mat-icon>
</button>

<div>
    <mat-table [dataSource]="users">

        <!-- TR -->
        <ng-container matColumnDef="name">

            <!-- TH -->
            <mat-header-cell *matHeaderCellDef>
                Nome
            </mat-header-cell>

            <!-- TD -->
            <mat-cell *matCellDef="let user">
                {{user.name}}
            </mat-cell>
        </ng-container>

        <!-- TR -->
        <ng-container matColumnDef="username">

            <!-- TH -->
            <mat-header-cell *matHeaderCellDef>
                Nome de Usuario
            </mat-header-cell>

            <!-- TD -->
            <mat-cell *matCellDef="let user">
                {{user.username}}
            </mat-cell>
        </ng-container>

        <!-- TR -->
        <ng-container matColumnDef="actions">

            <!-- TH -->
            <mat-header-cell *matHeaderCellDef>
                Ações
            </mat-header-cell>

            <!-- TD -->
            <mat-cell *matCellDef="let user">

                <button mat-icon-button (click)="select(user)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="confirm(user.id)">
                  <mat-icon>remove_circle</mat-icon>
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns"></mat-row>

    </mat-table>
</div>

<div *ngIf="selectedUser" class="editArea">
    <h2>Dados de Usuário</h2>
    <!-- NOME -->
    <mat-form-field class="formField">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="selectedUser.name">
    </mat-form-field>

    <!-- NOME DE USUARIO -->
    <mat-form-field class="formField">
        <mat-label>Nome do Usuário</mat-label>
        <input matInput [(ngModel)]="selectedUser.username">
    </mat-form-field>

    <!-- SENHA -->
    <mat-form-field class="formField">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="selectedUser.pass">
    </mat-form-field>

    <br><br>

    <button mat-raised-button color="accent" class="btn" (click)="save()">Salvar</button>
    <button mat-raised-button color="primary" class="btn btnAction" (click)="cancel()">Cancelar</button>

</div>